<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Plant</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

</head>
<body class="is-preload">

    <!-- Wrapper -->
		<div id="wrapper">
            
            <!-- Add Plants -->
            
            

                <article id="work">
                    <h2 class="major">ADD A PAINT</h2>
                    
                    <form action="/addPaint" method="POST">
                        
                        <div class= "field half">
                        
                            
                        
                        <input class="button" type="submit">
                        </div>
                        
                    </form>
                    
                </article>


            <!-- Footer -->
                <footer id="footer">
            <p class="copyright">&copy; <a href="https://haileymartin.netlify.app/"> Hailey Martin.</a> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>
        </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>