

<!-- Main -->
  <main>

    <!-- header -->
      <%- include('partials/header') %>

    <!--  hero  -->    
      <div class="hero bg-base-200 min-h-screen bg-[url(/images/home-bg.png)] text-black">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-8xl font-extrabold">Color Bridge</h1>
            <p class="py-6 font-semibold">Turning digital color codes into tintable house paints</p>
            <div className="card-actions justify-center">
                <a href="/convert" class="btn btn-active btn-primary text-white">Convert Color</a>
               <!-- <button class="btn btn-active btn-secondary">Build a Pallete</button>
                <button class="btn btn-active btn-accent">Color Analysis</button>-->
            </div>
          </div>
        </div>
      </div>

    <!-- Footer -->
      <%- include('partials/footer') %>  
            
  </main>

