<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
    <title>Register</title>
</head>
<body>

    <!-- Wrapper -->
		<div id="wrapper">

            <section>
                <h3 class="major">Register</h3>

                <form action="/register" method="post">
                    <div class="fields">

                        <div class="field half">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" placeholder="Bob Boberson" required/>
                        </div>

                        <div class="field half">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="demo-name" placeholder="***" required/>
                        </div>

                    </div>

                    <button class="primary" type="submit">Register</button>

                </form>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; <a href="https://haileymartin.netlify.app/"> Hailey Martin.</a> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

        </div>

    <!-- BG -->
        <div id="bg"></div>

    <!-- Scripts -->      
        <script src="/js/main.js"></script>
</body>
</html>